header.docs-navbar {
  background-color: $color-blue;

  .btn-docs-download {
    border: 2px solid $color-orange;
    color: $color-orange;

    margin-left: 1em;
    text-align: center;

    .icon {
      > svg {
        fill: $color-orange;

        margin: auto 0;
        vertical-align: middle;
      }
    }
  }

  .btn-docs-download:hover {
    background-color: $color-orange;
    border-color: $color-orange;
    color: $color-blue;

    .icon {
      > svg {
        fill: $color-blue;

      }
    }
  }

}